/* Quyet 18-08 */

#blog-row {
    height: 500px;
}

#blog h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

#blog-left {
    /*background: #00a0d2;*/
}

#blog-left h3 {
    margin-bottom: 10px;
}

#blog-right {
    background: #0A246A;
}

.nav-link-blog {
    margin-right: 4px;
}

.more-link {
    border: #daa24b solid 2px;
    /*padding: 8px 35px 8px 35px;*/
}

.more-link:hover {
    background: #daa24b;
}